<app-nabvar></app-nabvar>
<div class="container">
    <div>
        <button type="button" id="button" class="btn btn-transparent btn-lg btn-block">Press Spacebar</button>
    </div>
    <div>
        <a id="share" href="">Share = <i id="heart" class="fas fa-heart"></i></a>
    </div>
    <div id="ranking">
        <div class="twitter">
            <a href=""><i id="twitter" class="fab fa-twitter"> Twitter</i></a>
        </div>
        <div class="facebook">
            <a href=""><i id="facebook" class="fab fa-facebook-square"> Share</i></a>
        </div>
        <div class="github">
            <a href=""><i id="github"class="fab fa-github"></i> Star</a>
        </div>
    </div>
</div>